.home{
}
.listWrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.listItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 40px);
    height: 100px;
    background-color:#C0C0C0;
    margin: 20px;
}